.color-white {
	color white
}

.color-gray {
	color $color-white-two
}

.color-warm-grey {
	color $color-warm-grey
}

.color-lipstick {
	color $color-lipstick-two
}

.color-lipstick-two {
	color $color-lipstick-two
}

.color-denim {
	color $color-denim
}