.top-menu {
	background $color-steel-blue 
	
	@media (min-width 768px) {
		display flex
		align-items stretch
	}
	
	&__item {
		display flex
		position relative
		border-bottom 2px solid $color-denim
		
		&:last-child {
			border-bottom none
		}
		
		@media (min-width 768px) {
			border-bottom none
		}
	}

	&__button {
		box-sizing border-box
		display flex
		align-items center
		justify-content center
		font-size 14px 
		font-weight 600 
		line-height 1
		padding 20px
		text-align left 
		text-decoration none
		color white
		
		@media (min-width 768px) {
			border-bottom none 
			padding 25px 40px
		}
		
		@media (min-width 992px) {
			text-align left
			font-size 20px 
		}
		
		&_active {
			background $color-denim
		}
		
		&:hover {
			background $color-denim
		}
		
		&:last-child {
			border-bottom none
			border none
		}
	}
	
	&__icon {
		display inline-block
		margin-right 7px 
		font-size 20px 
	}
}