doctype html
html(lang="ru")
	head
		title Введите данные для записи
		include pug/head.pug
	body.page.paper-denim
		.data-input
			header.data-input__header Введите данные 
				br
				| для записи
			.data-input__body
				label.label-with-field
					.label-with-field__label Ваше имя
					input.label-with-field__field.field.available.field-offset
				label.label-with-field
					.label-with-field__label Ваш емейл
					input.label-with-field__field.field.available.field-offset.field_invalid
				label.label-with-field
					.label-with-field__label Ваш номер телефона
					input.label-with-field__field.field.available.field-offset.phone-mask
				label.label-with-field
					.label-with-field__label  Ваш комментарий к записи
					textarea.label-with-field__field.field.field_textarea.available.field-offset Возможно я опоздаю на 10-15 минут, подождите меня немного.
				label.label-with-checkbox
					input.label-with-checkbox__field.field-checkbox(type="checkbox")
					.label-with-checkbox__label Я согласен на обработку моих персональных данных в соответстви 
						a.link(href="#") Условиями
			footer.data-input__foo
				button.data-input__button.button.button_theme_smoke Назад
				button.data-input__button.button.button_theme_denim Записаться
		
		include pug/scripts.pug
