doctype html
html(lang="ru")
	head
		title Онлайн-школа русского языка
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(content="telephone=no", name="format-detection")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
		link(rel="stylesheet", href="css/style.css?ts=" + ts)
	body.page.paper-denim
		.data-input
			header.data-input__header Введите данные 
				br
				| для записи
			.data-input__body
				label.label-with-field
					.label-with-field__label Ваше имя
					input.label-with-field__field.field.available.field-offset
				label.label-with-field
					.label-with-field__label Ваш емейл
					input.label-with-field__field.field.available.field-offset
				label.label-with-field
					.label-with-field__label Ваш номер телефона
					input.label-with-field__field.field.available.field-offset.phone-mask
				label.label-with-field
					.label-with-field__label  Ваш комментарий к записи
					textarea.label-with-field__field.field.field_textarea.available.field-offset Возможно я опоздаю на 10-15 минут, подождите меня немного.
				label.label-with-checkbox
					input.label-with-checkbox__field.field-checkbox(type="checkbox")
					.label-with-checkbox__label Я согласен на обработку моих персональных данных в соответстви 
						a.link(href="#") Условиями
			footer.data-input__foo
				button.data-input__button.button.button_theme_smoke Назад
				button.data-input__button.button.button_theme_denim Записаться
			
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js")
		script(src="js/main.js")
