doctype html
html(lang="ru")
	head
		title Войти в личный кабинет
		include pug/head.pug
	body.page.paper-denim
		.wrapper-popup-auth: .popup-auth
			header.popup-auth__header Войти в личный кабинет
			.popup-auth__body
				.popup-auth__row
					label.field-with-icon.field-offset
						input.field-with-icon__field.field.available
						.field-with-icon__side: img.field-with-icon__icon(src="images/account.svg" width="11" height="11" alt="" role="presentation")
				.popup-auth__row
					label.field-with-icon
						input.field-with-icon__field.field.available(type="password")
						.field-with-icon__side: img.field-with-icon__icon(src="images/lock.svg" width="11" height="14" alt="" role="presentation")
			footer.popup-auth__foo
				label.popup-auth__remember.label-with-checkbox.offset-r-4
					input.field-checkbox(type="checkbox") 
					| Запомнить меня
				button.popup-auth__button.offset-r-4.button.button_theme_smoke Отмена
				button.popup-auth__button.button.button_theme_denim(type="submit") Войти

		include pug/scripts.pug
