doctype html
html(lang="ru")
	head
		title Вы записались!
		include pug/head.pug
	body.page
		.answer
			img.answer__icon(src="images/check.svg" width="164" height="164" alt="cancel" role="presentation")
			.answer__title.color-denim Вы записались!
			.answer__info
				.answer__row
					span.color-warm-grey Дата:
					|  Вторник, 20.11.2017, в 13:00
				.answer__row
					span.color-warm-grey Услуга:
					|  Диагностика подвески
				.answer__row
					span.color-warm-grey Мастер:
					|  Навальный Владимир
			footer.answer__foo
				button.answer__button.button.button_theme_denim Готово!
		include pug/scripts.pug
