html(lang="ru")
	head
		title Таблица
		include pug/head.pug
	body.page
		.date-table
			header.top-menu
				.top-menu__item
					a.top-menu__button(href="#")
						span.top-menu__icon: i.fa.fa-calendar
						span.top-menu__inner  Выбор недели
					.dropdown.hidden
						a.dropdown__item(href="#") Текущая неделя (25.11.17-01.11.18)
						a.dropdown__item(href="#") Следующая неделя (02.01.18-07.01.18)


				.top-menu__item
					a.top-menu__button(href="#")
						span.top-menu__icon: i.fa.fa-users
						span.top-menu__innern  Выбор мастера
				.top-menu__item
					a.top-menu__button(href="#")
						span.top-menu__icon: i.fa.fa-user-plus
						span.top-menu__inner
							|  Алексей
							br
							| Петропаловскомчатский

			table.table-with-date
				tr.table-with-date__header
					th.table-with-date__cell Пн
					th.table-with-date__cell Вт
					th.table-with-date__cell Ср
					th.table-with-date__cell Чт
					th.table-with-date__cell Пт
					th.table-with-date__cell.color-lipstick Сб
					th.table-with-date__cell.color-lipstick Вс
				tr
					td.table-with-date__cell.table-with-date__td.color-gray
						.table-with-date__session 08:00
					td.table-with-date__cell.table-with-date__td
						.table-with-date__session 08:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 08:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 08:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 08:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 08:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 08:00
				tr
					td.table-with-date__cell.table-with-date__td.color-gray
						.table-with-date__session 09:00
					td.table-with-date__cell.table-with-date__td
						.table-with-date__session 09:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 09:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 09:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 09:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 09:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 09:00
				tr
					td.table-with-date__cell.table-with-date__td.color-gray
						.table-with-date__session 10:00
					td.table-with-date__cell.table-with-date__td
						.table-with-date__session 10:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 10:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 10:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 10:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 10:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 10:00
				tr
					td.table-with-date__cell.table-with-date__td.color-gray
						.table-with-date__session 11:00
					td.table-with-date__cell.table-with-date__td
						.table-with-date__session 11:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 11:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 11:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 11:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 11:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 11:00
				tr
					td.table-with-date__cell.table-with-date__td.color-gray
						.table-with-date__session 12:00
					td.table-with-date__cell.table-with-date__td
						.table-with-date__session 12:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 12:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 12:00
					td.table-with-date__cell.table-with-date__td.color-white
						.session.session_disabled
							.session__time 12:00
					td.table-with-date__cell.table-with-date__td(rowspan="2")
						.session
							.session__time 12:00
							.session__desc Время сеанса 2 часа
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 12:00
				tr
					td.table-with-date__cell.table-with-date__td.color-gray
						.table-with-date__session 13:00
					td.table-with-date__cell.table-with-date__td
						.table-with-date__session 13:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 13:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 13:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 13:00
					//- td.table-with-date__cell.table-with-date__td
					//- 	.table-with-date__session 13:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 13:00
				tr
					td.table-with-date__cell.table-with-date__td.color-gray
						.table-with-date__session 14:00
					td.table-with-date__cell.table-with-date__td
						.table-with-date__session 14:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 14:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 14:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 14:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 14:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 14:00
				tr
					td.table-with-date__cell.table-with-date__td.color-gray
						.table-with-date__session 16:00
					td.table-with-date__cell.table-with-date__td
						.table-with-date__session 16:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 16:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 16:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 16:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 16:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 16:00
				tr
					td.table-with-date__cell.table-with-date__td.color-gray
						.table-with-date__session 17:00
					td.table-with-date__cell.table-with-date__td
						.table-with-date__session 17:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 17:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 17:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 17:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 17:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 17:00
				tr
					td.table-with-date__cell.table-with-date__td.color-gray
						.table-with-date__session 18:00
					td.table-with-date__cell.table-with-date__td
						.table-with-date__session 18:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 18:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 18:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 18:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 18:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 18:00
				tr
					td.table-with-date__cell.table-with-date__td.color-gray
						.table-with-date__session 19:00
					td.table-with-date__cell.table-with-date__td
						.table-with-date__session 19:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 19:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 19:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 19:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 19:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 19:00
				tr
					td.table-with-date__cell.table-with-date__td.color-gray
						.table-with-date__session 20:00
					td.table-with-date__cell.table-with-date__td
						.table-with-date__session 20:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 20:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 20:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 20:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 20:00
					td.table-with-date__cell.table-with-date__td.color-white
						.table-with-date__session 20:00
			.date-table__body
				.hidden-md: .legend
					.legend__column
						.legend__icon.paper-denim
						.legend__title Выбранное время

					.legend__column
						.legend__icon.paper-gray
						.legend__title Не доступно

					.legend__column
						.legend__icon.paper-border-white
						.legend__title Свободно
				.record
					.record__title Моя запись:
					.record__row 
						span.color-warm-grey Дата:
						|  Вторник, 20.11.2017, в 13:00
					.record__row
						span.color-warm-grey Мастер:
						|  Навальный Владимир
					.record__row
						span.color-warm-grey Услуга:
						|  Диагностика подвески
				footer.date-table__foo
					.hidden.visible-md: .legend
						.legend__column
							.legend__icon.paper-denim
							.legend__title Выбранное время

						.legend__column
							.legend__icon.paper-gray
							.legend__title Не доступно

						.legend__column
							.legend__icon.paper-border-white
							.legend__title Свободно
					button.date-table__button.button.button_theme_denim Дальше
		include pug/scripts.pug